@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500&display=swap");
* {
  font-family: "IBM Plex Sans Thai Looped", sans-serif !important;
}
.app {
  min-height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
